{% extends 'base.html.twig' %}

{% block body %}
    <body class="skin-green sidebar-mini" style="height: auto; min-height: 100%;">
        <div class="wrapper" style="height: auto; min-height: 100%;">

            <header class="main-header">
                <a href="{{ path('homepage')}}" class="logo">
                    <span class="logo-lg"><img src="{{ asset('images/ssok.png') }}"></span>
                </a>

                <nav class="navbar navbar-static-top">
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar" style="height: auto;">
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include 'default/Menus/admin.html.twig' %}
                    {% elseif is_granted('ROLE_TEACHER') %}
                        {% include 'default/Menus/teacher.html.twig' %}
                    {% else %}
                        {% include 'default/Menus/student.html.twig' %}
                    {% endif %}
                </section>
            </aside>
            <div class="content-wrapper" style="min-height: 901px;">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- ./wrapper -->

        <div class="jvectormap-label"></div></body>
    {% endblock %}


