{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Strona główna</h1>
        <div class="col-xs-12">
            {% if is_granted('ROLE_ADMIN') %}
                {% include 'default/Admin/main.html.twig'  %}
            {% elseif is_granted('ROLE_TEACHER') %}
                {% include 'default/Teacher/main.html.twig' with {'teacher' : user.teacher} %}
            {% elseif is_granted('ROLE_PARENT') %}
                {% include 'default/Student/main.html.twig' with {'student' : user.studentparent.student} %}
            {% else %}
                {% include 'default/Student/main.html.twig' with {'student' : user.student} %}
            {% endif %}
        </div>
    {% endblock %}
