{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h2 class="col-xs-6">{{news.title}}</h2>
        <div class="col-xs-12">
            {{ news.description | raw }}
        </div>
    </div>
{% endblock %}
