<div class="col-xs-12"><a style="float:left" class="btn btn-ssok" href="{{ path('students-password-export') }}">Wygeneruj hasła uczniów</a></div>
<div class="col-xs-12"><a style="float:left" class="btn btn-ssok" href="{{ path('teachers-password-export') }}">Wygeneruj hasła nauczycieli</a></div>
<div class="col-xs-12"><a style="float:left" class="btn btn-ssok" href="{{ path('new_year') }}">Następny rok szkolny</a></div>