<ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">Menu</li>
    <li>
        <a href="{{ path('student_index')}}">Uczniowie</a>
    </li>
    <li>
        <a href="{{ path('teacher_index')}}">Nauczyciele</a>
    </li>
    <li>
        <a href="{{ path('schoolclass_index')}}">Klasy</a>
    </li>
    <li>
        <a href="{{ path('subject_index')}}">Przedmioty</a>
    </li>
</ul>

