<ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">Menu</li>
    <li>
        <a href="{{ path('homepage')}}"><i class="fa fa-home" aria-hidden="true"></i>Strona główna</a>
    </li>
    <hr>
        <li>
        <a href="{{ path('newses')}}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Aktualności</a>
    </li>
</ul>