/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-07-30, 12:21:02
    Author     : kamil
*/


/* Main */
h1{
    color:#444A2E;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2{
    color:#444A2E;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h3{
    color:#444A2E;
    font-size: 22px;
    margin-bottom: 10px;
}
h4{
    color:#444A2E;
    font-size: 20px;
    margin-bottom: 10px;
}
h5{
    color:#444A2E;
    font-size: 18px;
    margin-bottom: 10px;
}
.logo img{
    width: 90px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.sidebar-menu li i{
    margin-right: 10px;
}
.content-wrapper{
    padding: 60px 30px;
    background-color: #E4FFEA;
}
.btn-ssok{
    background-color: #00a65a;
    color: #fff;
    margin-top: 20px;
    float: right;
}
.btn-ssok:hover{
    background-color: #fff;
    color: #00a65a;
}
.btn-danger{
    float: right;
    margin-top: 10px;
}
.sidebar-menu li.header{
    font-size: 22px;
}
.admin-show .admin-details:first-child{
    border-top: 1px solid #000; 
}
.admin-details{
    float: left;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}
.admin-label{
    font-weight: bold;
}
/* Form */
.cke{
    float: left;
    width: 100% !important;
}
.form-label{
    font-size: 16px;
}
#appbundle_student_studentParent{
    border: none;
    background-color: transparent;
    height: auto;
}


/* Table */
.datatable th{
    background-color: #00a65a;
    color: #fff;
    border:1px solid #ddd !important;
    border-bottom: none;
    border-right: none;
}
.datatable th:last-child{
    border-right: 1px solid #ccc !important;
}
.datatable tbody td{
    border:1px solid #ccc !important; 
    border-top: none;
}
.datatable td, .datatable th{
    text-align: center;
}
.datatable tbody .even{
    background-color: #ededed;
}
table.dataTable.no-footer{
    border-bottom:1px solid #ccc !important;   
}
table .actions{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
table .actions li{
    float: left;
    padding: 5px;
}

