/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-07-30, 12:21:02
    Author     : kamil
*/


/* Main */
a{
    color: #333;
}
h1{
    color:#444A2E;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2{
    color:#444A2E;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h3{
    color:#444A2E;
    font-size: 22px;
    margin-bottom: 10px;
}
h4{
    color:#444A2E;
    font-size: 20px;
    margin-bottom: 10px;
}
h5{
    color:#444A2E;
    font-size: 18px;
    margin-bottom: 10px;
}
.pagination{
    text-align: center;
    width: 100%;
}
.pagination a{
    padding: 5px 10px;
    margin: 3px;
    background-color: #00a65a;
    color: #fff;
    display: inline-block;
}
.pagination a:hover{
    background-color: #222d32;
}
.pagination .active-page{
    background-color: #222d32;
}
.logo img{
    width: 90px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.sidebar-menu li i{
    margin-right: 10px;
}
.content-wrapper{
    padding: 60px 30px;
    background-color: #E4FFEA;
}
.btn-ssok{
    background-color: #00a65a;
    color: #fff;
    margin-top: 20px;
    float: right;
    text-transform: uppercase;
}
.btn-ssok:hover{
    background-color: #222d32;
    color: #fff;
}
.btn-danger{
    float: right;
    margin-top: 10px;
}
.sidebar-menu li.header{
    font-size: 22px;
}
.admin-show .admin-details:first-child{
    border-top: 1px solid #000; 
}
.admin-details{
    float: left;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}
.admin-label{
    font-weight: bold;
}
.navbar-custom-menu i{
    margin-left: 5px;
}
/* Form */
.cke{
    float: left;
    width: 100% !important;
}
.form-label{
    font-size: 16px;
}
#appbundle_student_studentParent{
    border: none;
    background-color: transparent;
    height: auto;
}
.required:after{
    content: '*';
}


/* Table */
.datatable th{
    background-color: #00a65a;
    color: #fff;
    border:1px solid #ddd !important;
    border-bottom: none;
    border-right: none;
}
.datatable th:last-child{
    border-right: 1px solid #ccc !important;
}
.datatable tbody td{
    border:1px solid #ccc !important; 
    border-top: none;
}
.datatable td, .datatable th{
    text-align: center;
}
.datatable tbody .even{
    background-color: #ededed;
}
table.dataTable.no-footer{
    border-bottom:1px solid #ccc !important;   
}
table .actions{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
table .actions li{
    float: left;
    padding: 5px;
}
/* Plan */
.plan{
    width: 100%;
    float: left;
}
.plan .plan-day{
    display: block;
    width: 20%;
    float: left;
    background-color: #fff;
    list-style: none;
    height: 600px;
    border: 1px solid #333;
    border-right: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.plan .plan-day:last-child{
    border-right: 1px solid #333;
}
.plan .plan-header{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #333;
    background-color: #32B77A;
    color: #fff;
}
.plan .plan-element{
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #CAEEB3;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    margin-right: 2px;
    float: left;
}
.plan .plan-add{
    margin-top: 20px;
    cursor: pointer;
}
.plan .plan-element:hover{
    background-color: #D9F3C9;
    color: #555;
}
.plan .plan-add i{
    color: #333;
    font-size: 18px;
}
.plan .plan-element span{
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    bottom: 5px;
    left: 5px;

}
.plan .plan-element p{
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    bottom: -5px;
    right: 5px;

}
.plan .fa-trash-o{
    font-size: 18px;
    font-weight: normal;
    width: 5%;
    float: left;
    margin-top: 15px;
}
.plan .fa-trash-o:hover{
    color: red;
}
.plan-modal{
    background-color: #E4FFEA !important;
}
.plan-mini .plan-day{
    height: 400px;
}
.plan-mini .plan-header{
    font-size: 16px;
}
.plan-mini .plan-element{
    font-size: 12px;
    margin: 5px 10px 0;
    cursor: initial;
}
.plan .plan-element:hover{
    background-color: #CAEEB3;
    color: initial;
}
.newses .news{
    cursor: pointer;
}
.newses .news:hover{
    opacity: 0.7;
    text-decoration: underline;
}
.newses .news h4{
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid #00a65a;
}
.newses .news p {
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 54px;
    line-height: 18px;
    position: relative;
}
.newses-mini .news p {
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 36px;
    line-height: 18px;
    position: relative;
}
.ui-dialog-titlebar{
    background-color: #32B77A !important;
}
.ui-timepicker-table td a{
    width: 100%;
}
.ui-timepicker-minutes{
    padding-left: 10px !important;
}
