<div class="row">
    <div class="col-sm-8">
        {% include 'default/Teacher/plan.html.twig' with {'lessons' : teacher.lessons} %}
    </div>
    <div class="col-sm-4">
        {% include 'default/Teacher/news.html.twig' with {'newses' : newses} %}
    </div>
</div>
<div class="row">

</div>