{% block content %}
    <div class="row">
        <h2 class="col-xs-6">Aktualności</h2>
        <div class="col-xs-12">
            <div class="newses newses-mini">
                {% for news in newses | sortbyfield('createdAt') | reverse %}
                    {% if loop.index <= 3 %}
                        <a href="{{ path('news', { 'id': news.id })}}">
                            <div class="news">
                                <h4>{{news.title}}</h4>
                                <p>
                                    {% autoescape false %}
                                        {{ news.description | striptags }}
                                    {% endautoescape %}
                                </p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="btn btn-ssok" href="{{ path('newses')}}">Więcej</a>
        </div>
    </div>
{% endblock %}
